*.{{ zone }} {
	tls {
		dns cloudflare {file.{{ token_path }}}
	}

	@controller host {{ controller }}
	handle @controller {
		reverse_proxy https://127.0.0.1:443 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}
{%- for resolver in resolvers %}

	@{{ resolver.name }} host {{ resolver.vhost }}
	handle @{{ resolver.name }} {
		reverse_proxy http://{{ resolver.address }}:{{ api_port }}
	}
{%- endfor %}

	handle {
		abort
	}
}
