Allow group {{ group }} to manage users in tenancy
Allow group {{ group }} to manage groups in tenancy
Allow group {{ group }} to manage policies in tenancy
Allow group {{ group }} to manage compartments in tenancy
